<!DOCTYPE html>
<html>
<body>

<center><img src="C:/Users/USer/.git/GachonGangChu/Hybrid_TFIDF/templates/가천.jpg" width="300" height="300"></center>
<form action ="/send" method="POST">
  <p><center>3학년 혹은 4학년만 수강중인 트랙을 입력해주세요</center></p>
  <p><center>3학년 : 센서, 정보보안, 빅데이터 중 택1</center></p>
  <p><center>4학년 : 센서, 제네럴, 빅데이터 중 택1</center></p>
  <center><input placeholder="학번 (Ex. 201835528 -> 18)" type="text" style="width:500px " id="fname" name="stdnum" value="" required><br></center>
  <center><input placeholder="학년 (Ex. 3학년 -> 3)" type="text" id="lname" style="width:500px" name="grade" value="" width="800" required><br></center>
  <center><input placeholder="수강중인 트랙 (**3학년 혹은 4학년만 입력**)" type="text" id="lname" style="width:500px" name="track" value="" width="800"><br></center>
  <center><input placeholder="가장 선호하는 교수님 (Ex. 가나다 교수님 -> 가나다)" style="width:500px" type="text" id="jname" name="favpro" value="" required><br></center>
  <center><input placeholder="가장 선호하지 않는 교수님 (Ex. 가나다 교수님 -> 가나다)" style="width:500px" type="text" id="kname" name="unfavpro" value="" required><br></center>
  <center><input type="submit" value="페이지 넘기기"> </button></center>
</form>
</body>
</html>

