<!DOCTYPE html>
<html>
<body>

<center><img src="C:/Users/USer/.git/GachonGangChu/Hybrid_TFIDF/templates/가천.jpg" width="300" height="300"></center>
<form action ="/hell" method="post">
  <center><label for="fname">학번 (Ex. 201835528 -> 18) : </label><br></center>
  <center><input type="text" id="fname" name="stdnum" value=""><br></center>
  <center><label for="lname">학년 (Ex. 3학년 -> 3) :</label><br></center>
  <center><input type="text" id="lname" name="grade" value="" width="800"><br></center>
  <center><label for="jname">가장 선호하는 교수님 (Ex. 가나다 교수님 -> 가나다) : </label><br></center>
  <center><input type="text" id="jname" name="favpro" value=""><br></center>
  <center><label for="kname">가장 선호하지 않는 교수님 (Ex. 가나다 교수님 -> 가나다): </label><br></center>
  <center><input placeholder="가장 선호하지 않는 교수님" type="text" id="kname" name="unfavpro" value="" required><br></center>
  <center><input type="submit" value="페이지 넘기기"> </button></center>
</form>
</body>
</html>

